<div class="container">
  <div class="card text-center">
    <div class="card-header"><b>Login</b></div>
    <div class="card-body">
      <label style="float: left">Email</label>
      <input
        class="form-control m-2"
        type="email"
        placeholder="ingrese su email"
        [(ngModel)]="userData.email"
      />
      <label style="float: left">Password</label>
      <input
        class="form-control m-2"
        type="password"
        placeholder="ingrese su password"
        [(ngModel)]="userData.password"
      />
      <div class="d-grid gap-2">
        <button class="btn btn-primary btn-block m-2" (click)="Ingresar()">
          Ingresar
        </button>
        <label
          >Aun no tienes cuenta <a routerLink="../register">Registrate</a>
        </label>
      </div>
      <!-- <div class="d-grid gap-2">
        <button class="btn btn-info m-2" (click)="logout()">Logout</button>
      </div> -->
    </div>
    <div></div>
  </div>
</div>
